@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 5px;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#eba0a8,#ff414d);
  border-radius: 5px;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.herocection{
  background-color: #002D42;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box{
 height: 90%;
 background-image: linear-gradient(#eba0a8,#ff414d);
 border-radius: 60px;
 border: 1px solid white;
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: center;
 align-items: center;

}
.child{
  width: 600px;
}
.child-img{
   width: 600px;
}
.text-title{
  width: 350px;

}
.title{
  /* margin: 80px; */
  font-size: 50px;
  color: white;
  font-weight: 800;
  line-height: 60px;
}
.left-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-btn{
  background-color: #002D42;
  padding: 13px 20px;
  margin: 10px 0;
  box-shadow: 0 5px 10px #002d4257;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
  
}
.bottom-bar{
  background-color: #D9DFE3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project-title{

  font-weight: 600;
}
.project:hover{
  color: #ff414d;

}
.project{
  cursor: pointer;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}
.projects{
  padding: 10px;
}
.bi-asterisk{
  font-size: 10px;
}
.nav-section{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  column-gap: 50px;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}
.logo{
  cursor: pointer;
}
.nav-rigth{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.join-our-team{
  font-size: 15px;
  font-weight: 400;
  background-color: #ff414d;
  padding: 7px 10px;
  border-radius: 10px;
}
body{
  padding-top: 96px;
}
.nav-outer{
  padding: 10px 0;
  background-color: #002D42;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

}
.color{
  color: #ff414d;
}
.navbar{
 
  color: white;
  padding: 20px;
  border-bottom: 0.5px solid  rgb(95, 95, 95);
  border-top: 0.5px solid  rgb(95, 95, 95);

}
.btn-join{
 
 padding-right: 20px;
 border-right: 1px solid white;
}                        
.login-text{
  color: #00415f;
  font-size: 50px;
  font-weight: 600;
}
.dot{
  color: rgb(189, 189, 0);
}
/* ----------------------login-------------------- */
.login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  column-gap: 80px;
}
.login-img{
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.577);
  padding: 10px;
  width: 500px;
}
.login-image{
  
  border-radius: 30px;
}
.google-login{
  display: flex;
  column-gap: 10px;
}
.facebook{
  border: 1px solid rgb(176, 176, 176);
  padding: 5px 20px;
  border-radius: 5px;
}
.bi-facebook{
  color: #3c5a99;
}
.google{
  border: 1px solid rgb(176, 176, 176);
  padding: 5px 20px;
  border-radius: 5px;
}

.bi-google{
  color: #3c5a99;
}



.login-left{
  display: flex;
  row-gap: 13px;
  flex-direction: column;
}
input{
  border: 1px solid rgb(176, 176, 176);
  padding: 10px 20px;
  border-radius: 5px;
}
label{
  color: gray;
  margin-bottom: -10px;
}
.loginbtn{
  background-color: #ff6f78;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;

}
.error{
  color: red;
  font-size: 14px;
}
.our-mission1{
  /* height: 100vh; */
  margin: auto;

  
}
.our-mission{
 background-color: #D9DFE3;


/* position: relative; */
 display: flex;
 flex-direction: column;
 justify-content:space-between;
 align-items: center;
 padding-top: 80px;
}
@media only screen and (max-width: 600px) {
  body {
    
  }
  .herocection{
    background-color: #002D42;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -20px;
    align-items: center;
  
  }

  .box{
    height: 90%;
    background-image: linear-gradient(#eba0a8,#ff414d);
    border-radius: 60px;
    border: 1px solid white;
    display: flex;
    margin-top: 50px;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
    padding: 20px;
    align-items: center;
   
   }
   .child{
    width: 520px;
    margin-top: 0px;
  }
  .child-img{
     width: 100%;
  }
  .text-title{
    width: 450px;
  
  }
  .title{
    /* margin: 80px; */
    font-size: 30px;
    color: white;
    font-weight: 800;
    line-height: 40px;
  }
  .explore-btn{
    background-color: #002D42;
    padding: 13px 20px;
    margin: 10px 0;
    box-shadow: 0 5px 10px #002d4257;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    
  }
  .nav-rigth{
    display: none;
  }
  .bottom-bar{
    background-color: #D9DFE3;
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
  }
  .project-title{
  
    font-weight: 200;
  }
  .project:hover{
    color: #ff414d;
  
  }
  .project{
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
}
.our-mission-body{
height: 400px;
width: 80%;
background-image: linear-gradient(#eba0a8,#ff414d);
border-top-left-radius: 90px;
border-top-right-radius: 90px;
border: 14px solid white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
overflow: hidden;




}
.icon-img{
  width: 150px;
}

.our-mission-icon{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;

  display: flex;
  
  

}
.Our-mission-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  gap: 20px;
 margin-bottom: 80px;
 
}

.our-mission-title{
  font-weight: bold;
  font-size: 30px;
}
.icon-image{
  background-image: linear-gradient(#eba0a8,#ff414d);
   padding: 10px;
   border: 2px solid white;
   border-radius: 50px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);

   
}
.icon-text{
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  width: 250px;
}
.icon-text-title{
   font-weight: bold;
   font-size: larger;
}

.icon-text-dep{

  line-height: 22px;
}
.join-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-us-section{
  
}